<mat-card-header class="horizontally-centered">
  <mat-card-title class="mat-card-title-custom">{{signin_title}}</mat-card-title>
  <mat-card-subtitle>{{inserCredential_title}}</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <form class="vertically-oriented" [formGroup]="signInForm" (submit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>{{eMail_label}}</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="signInForm?.controls?.email?.touched && signInForm?.controls?.email?.invalid">
        <span *ngIf="signInForm?.controls?.email?.errors?.required">{{required_error}}</span>
        <span *ngIf="signInForm?.controls?.email?.errors?.pattern">{{emailInvalidFormat_error}}</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{password_label}}</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="signInForm?.controls?.password?.touched && signInForm?.controls?.password?.invalid">
        <span *ngIf="signInForm?.controls?.password?.errors?.required">{{required_error}}</span>
      </mat-error>
    </mat-form-field>
    <br>
    <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="signInForm.invalid"
    > 
     {{signin_word}}
    </button>
  </form>
</mat-card-content>