@use '~@angular/material' as mat;
@include mat.core();

//Themes definition
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//light theme
$ng-fintech-primary: mat.define-palette(mat.$blue-palette);
$ng-fintech-accent: mat.define-palette(mat.$green-palette);
$ng-fintech-warn: mat.define-palette(mat.$red-palette);
$ng-fintech-theme-light: mat.define-light-theme((
  color: (
    primary: $ng-fintech-primary,
    accent: $ng-fintech-accent,
    warn: $ng-fintech-warn,
  )
));

.light-theme{
    @include mat.all-component-themes($ng-fintech-theme-light);
}


//dark theme
$ng-fintech-primary-dark: mat.define-palette(mat.$orange-palette);
$ng-fintech-accent-dark: mat.define-palette(mat.$yellow-palette);
$ng-fintech-warn-dark: mat.define-palette(mat.$red-palette);
$ng-fintech-theme-dark: mat.define-dark-theme((
  color: (
    primary: $ng-fintech-primary-dark,
    accent: $ng-fintech-accent-dark,
    warn: $ng-fintech-warn-dark,
  )
));


.dark-theme{
     @include mat.all-component-colors($ng-fintech-theme-dark);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


//Generals
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snack-bar {
  color: white!important;
  background:rgba(233, 37, 37, 0.938)!important;
  button {background:rgba(185, 22, 22, 0.938)!important; color: white!important}
}

.success-snack-bar {
  color: white!important; 
  background: rgb(44, 201, 65)!important;
  button {background:rgba(3, 167, 30, 0.938)!important; color: white!important}
}

.default-card {
  width: 400px;
}

.login-card {
  width: 400px;
  border-radius: 30px !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)!important;
}

.full-page-height-card {
  height: 100%;
}

.fit-page-content-card {
  height: fit-content;
  display: inline-block;
}

.vertically-oriented {
  display: flex;
  flex-direction: column;
}

.horizontally-centered {
  display: flex;
  justify-content: center;
}

.horizontally-distributed {
  display: flex;
  justify-content: space-between;
}

.horizontally-distributed-evenly {
  display: flex;
  justify-content: space-evenly;
}

.horizontally-distributed-start {
  display: flex;
  justify-content: flex-start;
}

.full-page-centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-of-the-row {
  display: flex;
  align-items: flex-end;
}

.oblique-style {
  font-size: small;
  font-style:oblique;
}

.red-text {
  font-weight: bold;
  color: red;
}

.green-text {
  font-weight: bold;
  color: green;
}

.menu-toolbar{
  height: 64px;
}

.meph-custom{
  height: 55px!important;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
flex: 100%;
}

.map-container{
  width:100%;
  height:35%;
  position: inherit;
  }

.row-mode-with-gap {
  display: flex;
  align-items:  center;
  flex-direction: row;
  gap: 3px;
}

.inlineBlocKMode {
  display: inline-block;
}

.totals-mode {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#controlValueAccessorArrayChild mat-form-field {
  margin: 3px; 
}

.active-light-mode {
  font-weight: bold;
  font-style: oblique;
  background-color: #79d7fc!important;
}

.active-dark-mode {
  font-weight: bold;
  font-style: oblique;
  background-color: #f89130e1!important;
}

.login-theme-toggle{
  position: absolute;
  top: 1%;
  left: 97%;
  transform: translate(-50%);
  margin: 0;
}

.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
}

.mat-card-title-custom {
  text-align: center; font-size: 23px;
}

.toolbar-light-mode{
  position: sticky;
  display: flex;
  height: 64px;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%)!important;
  top: 0;
  z-index: 1000;
}

.toolbar-dark-mode{
  position: sticky;
  display: flex;
  height: 64px;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(105, 3, 3) 35%, rgb(243, 142, 59) 100%)!important;
  top: 0;
  z-index: 1000;
}

.mat-drawer-content::-webkit-scrollbar {
  display: none;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

.please-not-override-me{
   z-index: 1000;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



//background animations - Globals
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body{
  margin:0;
  padding:0;
}


h2{
  font-family: poppins;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  font-size:  65px!important;
  font-weight: bold;
  color: #fff;
  z-index: 1000;
}

.wrapper-light-mode{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.wrapper-dark-mode{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(105, 3, 3) 35%, rgb(243, 142, 59) 100%);
}

@keyframes animate{
    0%{
         transform: scale(0) translateY(0) rotate(0);
         opacity: 1;
    }
    100%{
         transform: scale(1.3) translateY(-90px) rotate(360deg);
         opacity: 1;
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////